@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChangPeace-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@media screen and (min-width: 1240px) {
  .root {
    position: fixed;
    width: 100vw;
    overflow: hidden;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1111;
  }

  .title {
    line-height: 50px;
    margin-left: 10px;
    color: var(--main);
  }

  .nav ul {
    display: flex;
    align-items: center;
  }

  .nav li {
    display: block;
  }

  .nav a {
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    padding: 0 20px;
    height: 50px;
    text-decoration: none;
    color: var(--main);

  }

  .opener {
    display: none;
  }

  .current a {
    color: var(--accent) !important;
    font-weight: bold;
  }


  .nav .sns {
    width: 50px;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 3px;
  }
}







@media screen and (min-width: 768px) and (max-width: 1239px) {
  .root {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1111;
  }

  .title {
    line-height: 50px;
    margin-left: 10px;
    color: var(--main);
  }

  .nav ul{
    display: flex;
    align-items: center;
  }

  .nav li {
    display: block;
  }

  .nav a {
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    padding: 0 20px;
    height: 50px;
    text-decoration: none;
    color: var(--main);

  }

  .opener {
    display: none;
  }


  .current a {
    color: var(--accent) !important;
    font-weight: bold;
  }

  .nav .sns {
    width: 50px;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 3px;
  }
}







@media screen and (max-width: 767px) {
  .root {
    position: fixed;
    width: 100vw;
    height: 60px;
    padding: 5px;
    display: flex;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.4);
    justify-content: space-between;
    z-index: 1111;
  }

  .title {
    line-height: 50px;
    margin-left: 10px;
    color: var(--main);
  }

  .opener {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
  }

  .first {
    width: 30px;
    height: 4px;
    right: 10px;
    top: 12px;
    position: absolute;
    background-color: var(--main);
    transition: all 0.3s ease;
  }

  .second {
    width: 30px;
    height: 4px;
    right: 10px;
    top: 23px;
    position: absolute;
    background-color: var(--main);
    opacity: 100%;
    transition: all 0.3s ease;
  }

  .third {
    width: 30px;
    height: 4px;
    right: 10px;
    top: 34px;
    position: absolute;
    background-color: var(--main);
    transition: all 0.3s ease;
  }

  .nav {
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    background-color: var(--main);
  }

  .nav.active{
    width: 300px;
  }

  .closer {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
  }

  .firstX {
    width: 30px;
    height: 4px;
    left: 10px;
    top: 23px;
    position: relative;
    background-color: white;
    transform: rotate(45deg);
  }

  .secondX {
    width: 30px;
    height: 4px;
    left: 10px;
    top: 19px;
    position: relative;
    background-color: white;
    transform: rotate(135deg);
  }

  .nav ul {
    display: block;
    width: 300px;
    height: 100vh;
  }

  .nav li {
    display: block;
    text-align: left;
    padding-left: 20px;
    line-height: 50px;
    font-size: 20px;
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: white;
  }

  .nav li a{
    text-decoration: none;
    color: white;
  }

  .nav .sns {
    font-size: 30px;
    line-height: 50px;
  }

  .current a {
    color: var(--accent) !important;
    font-weight: bold;
  }
}