@media screen and (min-width: 1240px) {
  .root {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px;
    background-color: white;
    z-index: 10;
  }

  .root:nth-child(4n-1),
  .root:nth-child(4n-2) {
    background-color: var(--main-glassy);
  }

  .name {
    color: var(--main);
    margin-right: 10px;
  }

  .major {
    margin-right: 10px;
  }

  .work {
    color: gray;
  }
}




@media screen and (min-width: 768px) and (max-width: 1239px) {
  .root {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px;
    background-color: white;
    flex-wrap: wrap;
    z-index: 10;
  }

  .root:nth-child(4n-1),
  .root:nth-child(4n-2) {
    background-color: var(--main-glassy);
  }

  .name {
    color: var(--main);
    margin-right: 10px;
  }

  .major {
    margin-right: 10px;
  }

  .work {
    margin-top: 20px;
    color: gray;
    width: 100%;
  }

}

@media screen and (max-width: 767px) {
  .root {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: white;
    flex-wrap: wrap;
    z-index: 10;
  }

  .root:nth-child(2n){
    background-color: var(--main-glassy);
  }

  .name {
    color: var(--main);
    margin-right: 10px;
  }

  .major {
    margin-right: 10px;
  }

  .work {
    margin-top: 20px;
    color: gray;
    width: 100%;
  }

}

.root:last-child{
  margin-bottom: 100px;
}