.root{
  padding-top: 60px;
}

.title{
  display: flex;
}

.title h2{
  color: #E85087;
  margin-right: 20px;
}

.titlebox{
  background-color: #E85087;
  flex: 1 0 auto
}

.article{
  padding: 50px 20px;
  color: #E85087;
}

.article p{
  margin: 10px 0 50px 0;
}

.map{
  width: calc(100vw - 40px);
  height: calc(100vw - 20px);
  background-color: #E85087;
}