.main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  height: calc(100vh - 48px);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 48px;
  background-color: white;
}

.row {
  display: flex;
  gap: 0px;
}

.feedback {
  width: 100%;
  height: calc(100vh - 48px);
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 2222;
}