* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline-color: var(--accent);
}

html, body {
  max-width: 100vw;
  --main: #544bce;
  --main-glassy: hsl(244, 57%, 94%);
  --accent: #ff914d;
}