* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline-color: var(--accent);
  font-family: 'SUIT Variable';
}

:root {
  overflow: hidden;
  overscroll-behavior: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  max-width: 100vw;
  --main: #143FE5;
  --main-glassy: #e7eaf6;
  --main-hover: #102fa8;
  --accent: rgb(79, 184, 191);
  --font: #253885;
}

#portal {
  position: relative;
  z-index: 99999;
}

@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.woff2') format('woff2-variations');
}