.root {
  display: flex;
  color: var(--main);
  align-items: center;
  gap: 10px;
}

.box {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.box img {
  width: 40px;
  height: 40px;
}