.root{
  display: flex;
  color: var(--main);
}
.box{
  flex: 1 0 auto;
  background-color: var(--main);
}
.box:first-child{
  margin-right: 20px;
}
.box:nth-child(3){
  margin-left: 20px;
}
.box:first-child[data-align='left']{
  display: none;
}
.box:nth-child(2)[data-align='right']{
  display: none;
}