.root{
  display: block;
  margin: 100px 0;
}

.root h1{
  margin-left: 100px;
}

.root p{
  margin-left: 100px;
}

.imgs {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow: scroll;
  padding: 20px;
}

.imgs img{
  height: 300px;
}