.root{
  width: 300px;
  height: 300px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  color: white;
}

.thumb{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.title{
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
  text-shadow: 0 0 10px var(--main);
}

.designer{
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
  text-shadow: 0 0 5px var(--main);
}

.root:hover .title, .root:hover .designer{
  opacity: 1;
}

@media screen and (max-width: 767px){
  .root{
    width: calc((100vw - 40px));
    height: calc((100vw - 40px));
  }

  .thumb{
    width: calc((100vw - 40px));
    height: calc((100vw - 40px));
  }

  .title, .designer{
    opacity: 1;
  }
}