.root{
  padding-top: 60px;
}

.title{
  padding: 0 50px;
  margin: 40px 0 20px 0;
}

.gallery{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item{
  width: 32vw;
  height: 32vw;
  margin-bottom: 1vw;
  background-color: blueviolet;
}