.root {
  padding-top: 48px;
  position: fixed;
  width: 100vw;
  position: relative;
}

.title {
  color: white;
  flex: 1;
}

.listbox {
  width: 100%;
  height: calc(100vh - 96px);
  overflow-y: scroll;
  background-color: var(--main-glassy);
  padding-top: 20px;
}

.listwrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  padding-bottom: 100px;
  max-width: 1200px;
  margin: auto;
}

.margin {
  flex-basis: 200px;
  flex-grow: 1;
}

.controler {
  display: flex;
  padding: 5px;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.searchwrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: 1200px;
  height: 38px;
}

.searchlabel {
  position: absolute;
  left: 6px;
  top: 0;
  margin: 7px;
  mask-image: url('/icons/searching.svg');
  mask-size: 24px;
  -webkit-mask-image: url('/icons/searching.svg');
  -webkit-mask-size: 24px;
  background-color: var(--main);
  width: 24px;
  height: 24px;
}

.search {
  border: none;
  flex-grow: 1;
  height: 100%;
  padding-left: 38px;
  background-color: transparent;
  background-color: var(--main-glassy);
  border-radius: 8px;
}